/* ========================================
   Container
   ======================================== */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}


/* ========================================
   Container - Small
   ======================================== */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}


/* ========================================
   Container - Medium
   ======================================== */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}


/* ========================================
   Container - Large
   ======================================== */

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}


/* ========================================
   Container - Extra Large
   ======================================== */

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}