/* ========================================
   Font Variant
   ======================================== */

.normal-nums {
  font-variant-numeric: normal;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.proportional-nums {
  font-variant-numeric: proportional-nums;

}

.ordinal {
  font-variant-numeric: ordinal;
}

.slashed-zero {
  font-variant-numeric: slashed-zero;
}