/* ========================================
   Font Style
   ======================================== */

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.oblique {
  font-style: oblique;
}